@page
@model FairwayManager.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MembershipIDSortParm">
                    @Html.DisplayNameFor(model => model.Member[0].MembershipID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSortParm">
                    @Html.DisplayNameFor(model => model.Member[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SexSortParm">
                    @Html.DisplayNameFor(model => model.Member[0].Sex)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSortParm">
                    @Html.DisplayNameFor(model => model.Member[0].Email)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.HandicapSortParm">
                    @Html.DisplayNameFor(model => model.Member[0].Handicap)
                </a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Member)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Handicap)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MembershipID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MembershipID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MembershipID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
